<html><link rel = "stylesheet" type="text/css" href="static/style.css">
    <body >

        <center>
        <h2> AUTO ML  </h2>
            <h3> (FOR ANY REGRESSION MODEL)</h3>
            <H3>Data Will Look Like this </H3>
            <h3>import the csv file of only the cleaned data only</h3>
<img src="../static/data.jpg" width="300" height="300"><br>
            <form action="/data" method="POST" enctype="multipart/form-data">
          <br> <b> Import csv:  <input type="file", name='csvfile', placeholder="enter 1"> <br><br>
               <label="select an algoritm">Choose An Algoritm:</label>
               <select id="select an algoritm" name="select an algoritm">
                   <option value="Linear Regression">Linear Regression</option>
                   <option value="Decision Tree Regressor">Decision Tree Regressor</option>
                   <option value="Random Forest Regressor">Random Forest Regressor</option>




         </select>
            <input type="submit"  name="" value='submit' >
        </form>

             <br>
             <br>



        </center>

    </body>
</html>

